.cards {
  font-style: normal;
  text-decoration: none;
  display: flex;
  align-content: flex-start;
  column-gap: 100px;
  flex-wrap: wrap;
  width: 920px;
  margin: auto;
  list-style: none;
  padding: 0;
}







